@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'),
       url(''https://fonts.googleapis.com/css2?family=Roboto&display=swap') format('ttf');
}
body {
  font-family: 'Roboto', serif;
}
h1, h2, h3, h4, h5, h6, .nav, .article-duration, .archive-item-link, .footer {
  font-family: 'Roboto', sans-serif;
}
